<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>To do list</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <!-- <header>
    <h1 style="
    text-align: center;color:#;background-color:#e79cc2">YOU CAN DO IT</h1>
    </header> -->
